.card-body {
  display: flex;
  flex-direction: column;

}

.card-body .card-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-body .card-buttons p {
  display: contents;
}

.card-body .btn {
  align-items: center;
  display: flex;
  height: 2.5rem;
  text-transform: capitalize;
}
